@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 1024px ) and (min-width: 250px) {
body {
    height: 100v;
    background-image: url(../jato.11.png);  
    display: flex;
    align-items: center;
    justify-content: center;
}
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 600px;
    background: transparent;
    border-radius: 30px;
    box-shadow: 0px 5px 10px blue;
    margin-top: 10%;
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    background-color: rgba(5,5,5, 9);
    box-shadow: 5px 5px 15px rgba(0,0,0, .7);
    border-radius: 100px;
    letter-spacing: 5px;
    padding:5px;
    padding-inline: 8px;
    
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 11px;
}